@charset "UTF-8";

html {
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: ;
  color: #333;
  line-height: 1.7;
  width: 1200px;
  margin: 0 auto;
}
header h1 {
  padding: 20px 16px;
}
.logo a {
  display: inline-block;
}
.logo a img {
  display: block;
}
h1 {
  line-height: 1;
}
