@charset "UTF-8";

html {
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1rem;
  font-family: ;
  color: #333;
  line-height: 1.7;
}

    /* header */
.menu li{
  display: inline-block;
  font-size: 1rem;
  padding: 5px 35px 5px 0;
}
.menu li a{
  color: white;
  text-decoration: none;
}
.global-nav {
  background-color: gray;
}
    /* trip */
#trip {
  display: flex;
}
#trip .item {
  margin: 40px 30px 0 0;
}
#trip img {
  width: 100%;
  height: auto;
}
#trip h2 {
  font-size: 1.25rem;
}
#trip a {
  color: black;
  text-underline-offset: 0.3ex;
}
#trip .more {
  display: flex;
  justify-content: center;
}
    /* trip end */
    /* main topic */
#topic img {
  width: 100%;
  height: auto;
}

    /* info end */
.info {
  
}
#writer img {
  max-width: 100%;
  height: auto;
}
#ranking img {
  max-width: 100%;
  height: auto;
}
    /* content */
.content {
  display: flex;
}